SERVER_BASE_URL=http://localhost:8000
CLIENT_BASE_URL=http://localhost:3000

# mongodb atlas
MONGODB_URI=
DB_NAME=Profile_DB

# google auth
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=

# for Cloudinary Setup (pdf server)
CLOUD_NAME=
UPLOAD_PRESET_NAME=
ASSET_FOLDER_NAME=

# for imagebb server
IMGBB_API_KEY=
